*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100vh;
    background-color: rgb(30, 30, 86);
}
header .btn{
    background-color: lightgreen;
    padding: 15px;
    border: none;
    font-weight: 500;
    font-size: 15px;
    font-family: sans-serif;
    justify-items: center;
}
header .btn a:link {
    text-decoration: none;
}
main{
    display: grid;
    grid-template-areas:
    "a a b"
    "c d d"
    "c e e";
    gap: 15px;
    width: 50%;
    margin: auto;
}
main div{
    padding: 80px;
    text-align: center;
}
main .grid-item-a{
    grid-area: a;
    background-color: rgb(255, 81, 0);
}
main .grid-item-b{
    grid-area: b;
    background-color: yellow;
}
main .grid-item-c{
    grid-area: c;
    background-color: green;
}
main .grid-item-d{
    grid-area: d;
    background-color: blue;
}
main .grid-item-e{
    grid-area: e;
    background-color: rgb(79, 79, 164);
}